@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie głównej</h1>
    <p>Aplikacja ta powstała w celu zaliczenia projektu.</p>
    <p>Aplikacja służy do dodawania przedmiotów, udostępniania swoich ocen/opinii na ich temat</p>

</div>
